version: 2
updates:
  - package-ecosystem: docker
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      docker-dependencies:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    open-pull-requests-limit: 20
    directories:
      - "/"
      - "/actions/**/*"
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      github-actions-dependencies:
        patterns:
          - "*"

  - package-ecosystem: npm
    open-pull-requests-limit: 20
    versioning-strategy: increase
    directories:
      - "/"
      - "/tests/npm"
      - "/tests/pnpm"
      - "/tests/pnpm-package-manager"
      - "/tests/yarn"
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      npm-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "devcontainers"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
