name: Internal - Common Continuous Integration tasks

on:
  workflow_call:

permissions: {}

jobs:
  linter:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/linter.yml@a8d9ca49a0e025238acd97ee3c5014f4d6525bc3 # 0.31.5
    permissions:
      contents: read
      statuses: write
      actions: read
      security-events: write

  test-action-dependencies-cache:
    name: Test action "dependencies-cache"
    needs: linter
    uses: ./.github/workflows/__test-action-dependencies-cache.yml
    permissions:
      contents: read

  test-action-get-package-manager:
    name: Test action "get-package-manager"
    needs: linter
    uses: ./.github/workflows/__test-action-get-package-manager.yml
    permissions:
      contents: read

  test-action-has-installed-dependencies:
    name: Test action "has-installed-dependencies"
    needs: linter
    uses: ./.github/workflows/__test-action-has-installed-dependencies.yml
    permissions:
      contents: read

  test-action-setup-node:
    name: Test action "setup-node"
    needs: linter
    uses: ./.github/workflows/__test-action-setup-node.yml
    permissions:
      contents: read

  test-workflow-continuous-integration:
    name: Test workflow "continuous-integration"
    needs: linter
    uses: ./.github/workflows/__test-workflow-continuous-integration.yml
    permissions:
      contents: read
      packages: write
      pull-requests: write
      id-token: write
      issues: read
      security-events: write
    secrets: inherit
