name: Mark stale issues and pull requests

on:
  schedule:
    - cron: "30 1 * * *"

permissions: {}

jobs:
  main:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/stale.yml@4bfbc05c189f1177cf7d47d3060cd1cbddf04ce2 # 0.32.0
    permissions:
      issues: write
      pull-requests: write
