name: Mark stale issues and pull requests

on:
  schedule:
    - cron: "30 1 * * *"

permissions:
  issues: write
  pull-requests: write

jobs:
  main:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/stale.yml@d95c78dc4b10250a07e227d3ddf33b0ea093e28d # 0.29.0
