name: Internal - Test Continuous integration workflow

on:
  workflow_call:

permissions: {}

jobs:
  act-without-container:
    name: Act - Run the continuous integration workflow (without container)
    uses: ./.github/workflows/continuous-integration.yml
    permissions:
      contents: read
      packages: read
      pull-requests: write
      security-events: write
      # FIXME: This is a workaround for having workflow ref. See https://github.com/orgs/community/discussions/38659
      id-token: write
    with:
      working-directory: tests/npm
      build: |
        {
          "artifact": "dist"
        }

  assert-without-container:
    name: Assert - Ensure build artifact has been uploaded (without container)
    runs-on: ubuntu-latest
    needs: act-without-container
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          artifact-ids: ${{ needs.act-without-container.outputs.build-artifact-id }}
          path: "/"

      - name: Check the build artifacts
        run: test -f tests/npm/dist/test.txt

  act-without-container-and-github-reports:
    name: Act - Run the continuous integration workflow (without container and GitHub reports)
    uses: ./.github/workflows/continuous-integration.yml
    permissions:
      contents: read
      packages: read
      pull-requests: write
      security-events: write
      # FIXME: This is a workaround for having workflow ref. See https://github.com/orgs/community/discussions/38659
      id-token: write
    with:
      working-directory: tests/npm
      build: |
        {
          "artifact": "dist"
        }
      test: |
        {"coverage": "github"}

  arrange-with-container:
    permissions:
      id-token: write
      contents: read
      packages: write
      issues: read
      pull-requests: read
    uses: hoverkraft-tech/ci-github-container/.github/workflows/docker-build-images.yml@18c35d287eb2f66e00741c88954106b44b812ae0 # 0.30.4
    with:
      sign: false
      images: |
        [{
          "name": "ci-npm",
          "context": ".",
          "dockerfile": "./tests/npm/Dockerfile",
          "build-args": { "APP_PATH": "./tests/npm/" },
          "target": "ci",
          "platforms": ["linux/amd64"]
        }]
    secrets:
      oci-registry-password: ${{ secrets.GITHUB_TOKEN }}

  act-with-container:
    name: Act - Run the continuous integration workflow (with container)
    uses: ./.github/workflows/continuous-integration.yml
    needs: arrange-with-container
    permissions:
      contents: read
      packages: read
      pull-requests: write
      security-events: write
      # FIXME: This is a workaround for having workflow ref. See https://github.com/orgs/community/discussions/38659
      id-token: write
    with:
      container: ${{ fromJSON(needs.arrange-with-container.outputs.built-images).ci-npm.images[0] }}
      working-directory: /usr/src/app/
      build: |
        {
          "artifact": "dist"
        }
      test: |
        {"coverage": "codecov"}

  assert-with-container:
    name: Assert - Ensure build artifact has been uploaded (with container)
    runs-on: ubuntu-latest
    needs: act-with-container
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          artifact-ids: ${{ needs.act-with-container.outputs.build-artifact-id }}
          path: ${{ runner.temp }}

      - name: Check the build artifacts
        run: test -f ${{ runner.temp }}/usr/src/app/dist/test.txt

  act-with-container-advanced:
    name: Act - Run the continuous integration workflow (with container and advanced options)
    uses: ./.github/workflows/continuous-integration.yml
    needs: arrange-with-container
    permissions:
      contents: read
      packages: read
      pull-requests: write
      security-events: write
      # FIXME: This is a workaround for having workflow ref. See https://github.com/orgs/community/discussions/38659
      id-token: write
    with:
      container: |
        {
          "image": "${{ fromJSON(needs.arrange-with-container.outputs.built-images).ci-npm.images[0] }}",
          "env": {
            "NODE_ENV": "test",
            "CI": "true"
          },
          "options": "--cpus 1",
          "credentials": {
            "username": "${{ github.actor }}"
          }
        }
      working-directory: /usr/src/app/
      build: |
        {
          "artifact": "dist"
        }
      test: |
        {"coverage": "codecov"}
    secrets:
      container-password: ${{ secrets.GITHUB_TOKEN }}

  assert-with-container-advanced:
    name: Assert - Ensure build artifact has been uploaded (with container advanced)
    runs-on: ubuntu-latest
    needs: act-with-container-advanced
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          artifact-ids: ${{ needs.act-with-container-advanced.outputs.build-artifact-id }}
          path: ${{ runner.temp }}

      - name: Check the build artifacts
        run: test -f ${{ runner.temp }}/usr/src/app/dist/test.txt
