name: Internal - Tests for "dependencies-cache" action

on:
  workflow_call:

permissions: {}

jobs:
  test:
    name: Test "dependencies-cache" (${{ matrix.working-directory }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - working-directory: tests/npm
            package-manager: npm

          - working-directory: tests/pnpm
            package-manager: pnpm

          - working-directory: tests/pnpm-package-manager
            package-manager: pnpm

          - working-directory: tests/yarn
            package-manager: yarn
    steps:
      # jscpd:ignore-start

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - id: setup-node
        uses: ./actions/setup-node
        with:
          working-directory: ${{ matrix.working-directory }}

      - name: Check that package manager is the expected one
        id: check-package-manager
        run: |
          if [[ "${{ steps.setup-node.outputs.run-script-command }}" != "${{ matrix.package-manager }}"* ]]; then
            echo "Package manager is not ${{ matrix.package-manager }}"
            exit 1
          fi

      # jscpd:ignore-end

      - id: get-dependencies-cache
        uses: ./actions/dependencies-cache
        with:
          working-directory: ${{ matrix.working-directory }}
          dependencies: |
            gatsby
            jest
            nx
            prettier
            storybook
            unknown

      - name: Check "dependencies-cache" configured cache
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const assert = require("assert");
