name: Internal - Tests for "setup-node" action

on:
  workflow_call:

permissions: {}

jobs:
  test:
    name: Test "setup-node" (${{ matrix.working-directory }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - working-directory: tests/npm
            package-manager: npm
            lock-file: package-lock.json
            run-script-command: npm run

          - working-directory: tests/pnpm
            package-manager: pnpm
            lock-file: pnpm-lock.yaml
            run-script-command: pnpm

          - working-directory: tests/pnpm-package-manager
            package-manager: pnpm
            lock-file: pnpm-lock.yaml
            run-script-command: pnpm

          - working-directory: tests/yarn
            package-manager: yarn
            lock-file: yarn.lock
            run-script-command: yarn
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - run: echo "lts/*" > .nvmrc
        working-directory: ${{ matrix.working-directory }}

      - id: setup-node
        uses: ./actions/setup-node
        with:
          working-directory: ${{ matrix.working-directory }}

      - name: Check "setup-node" outputs
        run: |
          if [ "${{ steps.setup-node.outputs.run-script-command }}" != "${{ matrix.run-script-command }}" ]; then
            echo "get-package-manager outputs run-script-command is not valid"
            exit 1
          fi
