name: Internal - Tests for "package" action

on:
  workflow_call:

permissions: {}

jobs:
  test:
    name: Test "package" (${{ matrix.working-directory }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - working-directory: tests/npm
            artifact-suffix: npm
          - working-directory: tests/pnpm
            artifact-suffix: pnpm
          - working-directory: tests/pnpm-package-manager
            artifact-suffix: pnpm-package-manager
          - working-directory: tests/yarn
            artifact-suffix: yarn
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - id: package
        uses: ./actions/package
        with:
          working-directory: ${{ matrix.working-directory }}
          artifact-name: package-tarball-${{ matrix.artifact-suffix }}

      - name: Check "package" outputs
        run: |
          if [ -z "${{ steps.package.outputs.package-tarball-path }}" ]; then
            echo "package-tarball-path output is empty"
            exit 1
          fi

          if [ ! -f "${{ steps.package.outputs.package-tarball-path }}" ]; then
            echo "Generated package tarball does not exist"
            exit 1
          fi

          if [ -z "${{ steps.package.outputs.package-tarball-artifact-id }}" ]; then
            echo "package-tarball-artifact-id output is empty"
            exit 1
          fi
